<div>
	<br>
	<button class="btn btn-primary" color="primary" routerLink="/create">Create New Issue</button>
	<br><br>
	<br>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Title</th>
				<th scope="col">Responsible</th>
				<th scope="col">Severity</th>
				<th scope="col">Status</th>
				<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let element of issues">
				<td> {{element.title}} </td>
				<td> {{element.responsible}} </td>
				<td> {{element.severity}} </td>
				<td> {{element.status}} </td>
				<td> 
					<button mat-button color="primary" (click)="editIssue(element._id)">Edit</button>
					<button mat-button color="warn" (click)="deleteIssue(element._id)">Delete</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>