<div>
	<br>
		<div  *ngIf="displaySuccess" class="alert alert-success alert-dismissible fade show" role="alert">
		<strong>Success!</strong> Issue editted succesfully.
		<button (click)="displayError = false;" type="button" class="close" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<h3>Update Issue</h3>
	<br>
	<form [formGroup]="updateForm">
		<div class="row form-group"> 
			<label for="example-text-input" class="col-2 col-form-label">Title</label>
			<div class="col-10">
				<input class="form-control" placeholder="Title" formControlName="title" #title>
			</div>

		</div>
		<div class="row form-group"> 
			<label for="example-text-input" class="col-2 col-form-label">Responsible</label>
			<div class="col-10">
				<input class="form-control" placeholder="Responsible" formControlName="responsible" #responsible>
			</div>
		</div>
		<div class="row form-group"> 
			<label for="example-text-input" class="col-2 col-form-label">Description</label>
			<div class="col-10">
				<textarea rows=4 style="resize: none;" class="form-control" placeholder="Description"  formControlName="description" #description></textarea>
			</div>
		</div>
		<div class="row form-group"> 
			<label for="example-text-input" class="col-2 col-form-label">Severity</label>
			<div class="col-10">
				<select class="form-control" placeholder="Severity" formControlName="severity" #severity>
					<option value="Low">Low</option>
					<option value="Medium">Medium</option>
					<option value="High">High</option>
				</select>
			</div>
		</div>
		<div class="row form-group"> 
			<label for="example-text-input" class="col-2 col-form-label">Status</label>
			<div class="col-10">
				<select class="form-control" placeholder="Status" formControlName="status" #status>
					<option value="Open">Open</option>
					<option value="In Progress">In Progress</option>
					<option value="Done">Done</option>
				</select>
			</div>
		</div>
		<br><br>
		<button mat-raised-button color="accent" routerLink="/list">Back</button>&nbsp;
		<button type="submit" (click)="updateIssue(title.value, responsible.value, description.value, severity.value, status.value)" [disabled]="updateForm.pristine || updateForm.invalid" mat-raised-button color="primary">Save</button>
	</form>
</div>